body {
  font-family: "Sora", serif;
}
/*LOGO FONTS SYLES*/

#logo {
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}

.container {
  color: #ffffff;
}
/*CONTENT FONTS SYLES*/

#content__header p {
  font-family: "Roboto Mono", serif;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 12px;
  background-image: linear-gradient(to right, #c7c9cc 0%, #3d3d3d 100%);
  color: transparent;
  background-clip: text;
}

#content__title {
  line-height: 130%;
  letter-spacing: -4%;
  font-size: 72px;
  font-weight: 900;
}

.content__questions {
  font-family: "Roboto Flex", serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 150%;
}
.question {
  color: #c58de7;
  font-size: 14px;
}

.answer,
.result__text,
#description {
  color: #c7c9cc;
}

/*CONTENT FORM FONTS SYLES*/

#form-title {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  margin-top: 34px;
}

#description {
  font-family: "Roboto Flex", serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
}

label {
  font-family: "Roboto Flex", serif;
  font-size: 20px;
  font-weight: bold;
  color: #c7c9cc;
}

.display {
  font-size: 32px;
  line-height: 130%;
  font-weight: bold;
}
