*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100vhd;
}
body {
  background: url(/assets/Linha.png) #030203;
  height: 100vhd;
  font-family: "Sora", serif;
}
/*LOGO STYLES*/

#logo {
  display: flex;
  margin-top: 79px;
  margin-left: 120px;
  gap: 13px;
  align-items: center;
  margin-bottom: 89px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  gap: 108px;
}

/*CONTENT HERO STYLES*/

#content__header p {
  margin-bottom: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  text-align: start;
  min-width: 512px;
  max-width: 512px;
  gap: 32px;
}

.content__questions {
  display: flex;
  width: 70%;
  align-items: flex-start;
}

.questions__text {
  margin-left: 8px;
}
/*CONTENT FORM STYLES*/
.content__form {
  display: flex;
  flex-direction: column;
  min-width: 512px;
  max-width: 512px;
  gap: 40px;
}

#fields {
  display: flex;
}
